In [2]:
import pandas as pd

In [3]:
# Path to csv
file_1="resources/JC-202101-citibike-tripdata.csv"
file_2="resources/JC-202102-citibike-tripdata.csv"
file_3="resources/JC-202103-citibike-tripdata.csv"

jan_df=pd.read_csv(file_1)
jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [4]:
feb_df=pd.read_csv(file_2)
feb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,683,2021-02-01 00:08:57.2940,2021-02-01 00:20:21.2680,3483,Montgomery St,40.719420,-74.050990,3203,Hamilton Park,40.727596,-74.044247,40517,Subscriber,1958,1
1,2850,2021-02-01 00:21:12.4910,2021-02-01 01:08:42.9560,3203,Hamilton Park,40.727596,-74.044247,3275,Columbus Drive,40.718355,-74.038914,40517,Subscriber,1958,1
2,545,2021-02-01 00:53:08.7500,2021-02-01 01:02:14.3890,3220,5 Corners Library,40.734961,-74.059503,3212,Christ Hospital,40.734786,-74.050444,44907,Customer,1996,1
3,473,2021-02-01 00:59:10.1110,2021-02-01 01:07:03.8480,3220,5 Corners Library,40.734961,-74.059503,3210,Pershing Field,40.742677,-74.051789,29727,Subscriber,1987,2
4,748,2021-02-01 01:01:29.4990,2021-02-01 01:13:57.8940,3210,Pershing Field,40.742677,-74.051789,3269,Brunswick & 6th,40.726012,-74.050389,45550,Subscriber,1962,1

In [5]:
mar_df=pd.read_csv(file_3)
mar_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,369,2021-03-01 00:07:46.3700,2021-03-01 00:13:55.6430,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,43798,Customer,1970,0
1,102,2021-03-01 00:13:25.3020,2021-03-01 00:15:07.7810,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,28583,Customer,1970,0
2,2036,2021-03-01 00:16:39.7080,2021-03-01 00:50:35.8980,3276,Marin Light Rail,40.714584,-74.042817,3280,Astor Place,40.719282,-74.071262,46627,Customer,1970,0
3,366,2021-03-01 00:21:44.7390,2021-03-01 00:27:51.6070,3639,Harborside,40.719252,-74.034234,3205,JC Medical Center,40.716540,-74.049638,43798,Customer,1970,0
4,718,2021-03-01 00:22:28.1290,2021-03-01 00:34:26.3650,3483,Montgomery St,40.719420,-74.050990,3638,Washington St,40.724294,-74.035483,42277,Subscriber,1958,1

In [6]:
jan_df.count()

tripduration               11624
starttime                  11624
stoptime                   11624
start station id           11624
start station name         11624
start station latitude     11624
start station longitude    11624
end station id             11624
end station name           11624
end station latitude       11624
end station longitude      11624
bikeid                     11624
usertype                   11624
birth year                 11624
gender                     11624
dtype: int64

In [7]:
jan_df=jan_df.dropna(how='any')
jan_df.count()

tripduration               11624
starttime                  11624
stoptime                   11624
start station id           11624
start station name         11624
start station latitude     11624
start station longitude    11624
end station id             11624
end station name           11624
end station latitude       11624
end station longitude      11624
bikeid                     11624
usertype                   11624
birth year                 11624
gender                     11624
dtype: int64

In [8]:
jan_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [9]:
jan_df['end station name'].value_counts()

Grove St PATH                    1009
Newport Pkwy                      564
Sip Ave                           545
Hamilton Park                     543
Marin Light Rail                  484
Newport PATH                      484
Warren St                         459
Liberty Light Rail                386
JC Medical Center                 369
Harborside                        353
City Hall                         352
Columbus Dr at Exchange Pl        323
Washington St                     296
Newark Ave                        276
Morris Canal                      272
Columbus Drive                    249
Van Vorst Park                    248
Jersey & 3rd                      235
Manila & 1st                      234
Brunswick St                      231
Paulus Hook                       229
Brunswick & 6th                   221
Grand St                          212
Jersey & 6th St                   212
McGinley Square                   197
Montgomery St                     196
Baldwin at Montgomery             194
Fairmount Ave                     190
Dixon Mills                       180
Essex Light Rail                  168
Monmouth and 6th                  161
Astor Place                       158
Journal Square                    120
Pershing Field                    116
Lafayette Park                     99
Bergen Ave                         97
York St                            96
Hoboken Ave at Monmouth St         89
Communipaw & Berry Lane            87
Dey St                             86
Lincoln Park                       84
Glenwood Ave                       84
Heights Elevator                   74
Hilltop                            69
Oakland Ave                        55
5 Corners Library                  48
Riverview Park                     45
Christ Hospital                    44
Leonard Gordon Park                42
Jackson Square                     33
Union St                           19
Cabrini Blvd & W 177 St             3
12 Ave & W 40 St                    1
5 Ave & E 88 St                     1
North Moore St & Greenwich St       1
W Broadway & Spring St              1
Name: end station name, dtype: int64

In [10]:
feb_df.count()

tripduration               4725
starttime                  4725
stoptime                   4725
start station id           4725
start station name         4725
start station latitude     4725
start station longitude    4725
end station id             4725
end station name           4725
end station latitude       4725
end station longitude      4725
bikeid                     4725
usertype                   4725
birth year                 4725
gender                     4725
dtype: int64

In [11]:
feb_df.isnull().any().any()

False

In [12]:
mar_df.isnull().any().any()

False

In [13]:
feb_df.count()

tripduration               4725
starttime                  4725
stoptime                   4725
start station id           4725
start station name         4725
start station latitude     4725
start station longitude    4725
end station id             4725
end station name           4725
end station latitude       4725
end station longitude      4725
bikeid                     4725
usertype                   4725
birth year                 4725
gender                     4725
dtype: int64

In [14]:
feb_df=feb_df.drop_duplicates()
feb_df.count()

tripduration               4725
starttime                  4725
stoptime                   4725
start station id           4725
start station name         4725
start station latitude     4725
start station longitude    4725
end station id             4725
end station name           4725
end station latitude       4725
end station longitude      4725
bikeid                     4725
usertype                   4725
birth year                 4725
gender                     4725
dtype: int64

In [17]:
mar_df=mar_df.drop_duplicates()
mar_df.count()

tripduration               16843
starttime                  16843
stoptime                   16843
start station id           16843
start station name         16843
start station latitude     16843
start station longitude    16843
end station id             16843
end station name           16843
end station latitude       16843
end station longitude      16843
bikeid                     16843
usertype                   16843
birth year                 16843
gender                     16843
dtype: int64

In [18]:
merge_df=pd.merge(jan_df, feb_df, on='start station id', how='outer')
merge_df

,tripduration_x,starttime_x,stoptime_x,start station id,start station name_x,start station latitude_x,start station longitude_x,end station id_x,end station name_x,end station latitude_x,...,start station latitude_y,start station longitude_y,end station id_y,end station name_y,end station latitude_y,end station longitude_y,bikeid_y,usertype_y,birth year_y,gender_y
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,...,40.721651,-74.042884,3211,Newark Ave,40.721525,-74.046305,31060,Subscriber,1952,1
1,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,...,40.721651,-74.042884,3199,Newport Pkwy,40.728745,-74.032108,46079,Subscriber,1987,1
2,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,...,40.721651,-74.042884,3267,Morris Canal,40.712419,-74.038526,42153,Subscriber,1960,1
3,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,...,40.721651,-74.042884,3267,Morris Canal,40.712419,-74.038526,38906,Subscriber,1986,1
4,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,...,40.721651,-74.042884,3205,JC Medical Center,40.716540,-74.049638,47255,Customer,1970,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647639,990,2021-01-30 16:08:19.5370,2021-01-30 16:24:50.3170,3196,Riverview Park,40.744319,-74.043991,3187,Warren St,40.721124,...,40.744319,-74.043991,3213,Van Vorst Park,40.718489,-74.047727,35159,Customer,1970,0
1647640,990,2021-01-30 16:08:19.5370,2021-01-30 16:24:50.3170,3196,Riverview Park,40.744319,-74.043991,3187,Warren St,40.721124,...,40.744319,-74.043991,3196,Riverview Park,40.744319,-74.043991,42450,Customer,1970,0
1647641,990,2021-01-30 16:08:19.5370,2021-01-30 16:24:50.3170,3196,Riverview Park,40.744319,-74.043991,3187,Warren St,40.721124,...,40.744319,-74.043991,3186,Grove St PATH,40.719586,-74.043117,36662,Customer,1970,0
1647642,990,2021-01-30 16:08:19.5370,2021-01-30 16:24:50.3170,3196,Riverview Park,40.744319,-74.043991,3187,Warren St,40.721124,...,40.744319,-74.043991,3186,Grove St PATH,40.719586,-74.043117,28012,Customer,1970,0
1647643,990,2021-01-30 16:08:19.5370,2021-01-30 16:24:50.3170,3196,Riverview Park,40.744319,-74.043991,3187,Warren St,40.721124,...,40.744319,-74.043991,3198,Heights Elevator,40.748716,-74.040443,42574,Customer,1970,0